*{
margin: 0;
padding: 0;
}
body{
	background:#222;
	color: #fff;
	font-family: system-ui;
}
.crud{
	width: 80%;
	margin: auto;
}
.head{
	text-align: center;
	text-transform: uppercase;
	margin: 10px 0;
	
}
input{
	width: 90%;
	height: 30px;
	outline: none;
	border: none;
	background: #111 ;
	margin: 4px 0;
	border-radius: 4px;
	padding: 4px;
	color: #fff;
}
input:focus{
	background: #000;
	transform: scale(1.1);
}
.price input{
width: 20%
}
#total{
	background:#da1e28;
	padding: 5px 2px;
	border-radius: 4px;
}
#total::before{
	content: 'Total: ';
}
button{
	width: 90%;
    height: 30px;
    border: none;
    cursor: pointer;
    background: #31135e;
    color: #fff;
    border-radius: 20px;
    transition: 0.5s;
}
button:hover{
	background:#8a3ffc;
	letter-spacing: 1px;
}
.btnSearch{
	display: flex;
	justify-content: space-between;
	margin-right: 9%;
}
.btnSearch button{
width: 45%;
margin-left: 0%;
}
table{
	width:100%;
	text-align:center;
	margin: 10px;
}
table th{
	text-transform: uppercase;
}
th,td{
	pading: 5px;
}